RewriteCond %{REQUEST_FILENAME} articles/$
RewriteRule ^(.*)/$ $1.html 

RewriteCond %{REQUEST_FILENAME} definitions/$
RewriteRule ^(.*)/$ $1.html

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule !.*\.html$ %{REQUEST_FILENAME}.html [L]
