---
layout: default
tab: definitions
---

<h1>A differential dictionary of intelligence</h1>

<p>A <i>normal</i> dictionary defines one word at a time.<br/>
  A <i>differential</i> dictionary defines two contrasting terms at a time.</p>

Why do it this way? See <a href="{{ site.url }}/articles/difference">Why the difference</a>.

<div class="entries mt-5">
  {% assign entries = site.definitions | sort: "title" %}
  {% for entry in entries %}
    {% if entry.released %}
    <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
    {% else %}
    <li>{{ entry.title }}</li>
    {% endif %}
  {% endfor %}

</div>

<footer class="row m-5">
  {% include figure.html
     filename="babbage.png"
     caption="The Difference Engine"
     attribution="C. Babbage (1864)"
     imgclass="col-md-6"
     captionclass="ml-4"
     link="https://www.google.com/books/edition/_/8rtdVgQNCuwC" %}
</footer>
