---
layout: default
---

<div class="row">
  <div class="col-md-8 offset-md-1">

    <p><i>Artificial Trust</i> is a collection of essays, offering
      a framework for understanding complex systems. It's an attempt to
      explain how algorithms can fail in the things we trust.</p>

    <p>We rely on complex systems like our health, our society, and the internet.
      These in turn rely on mechanisms to govern themselves and to
      evolve. These mechanisms involve feedback and selective pressure,
      which in turn rely on some mechanisms of recognition and trust. 
    </p>

    {% for article in site.articles %}
    {% if article.show_home != true %}
    {% continue %}
    {% endif %}
    
    <h4 class="mt-4"><A href="{{ article.url | relative_url }}">{{ article.title }}</A></h4>
    {% capture seemore %}
    ...<a href="{{ article.url | relative_url }}"><i>read more</i></a>
    {% endcapture %}

    {% assign excerpt_snip1 = article.content | split: "<!-- start_excerpt -->" %}
    {% assign excerpt_snip2 = excerpt_snip1[1] | split: "<!-- end_excerpt -->" %}
    {{ excerpt_snip2[0] | append: seemore }}

    {% endfor %}
  </div>
</div>
