{% assign imgclass = include.imgclass | default: "col-6" %}
{% assign captionclass = include.captionclass | default: "" %}
{% assign figureclass = include.figureclass | default: "" %}

<figure class="figure {{ figureclass }}">
  {% if include.clickable != "false" %}
  <a href="{{  include.filename | prepend:"/assets/pix/" | relative-url }}">
  {% endif %}
  <img class="{{ imgclass }} figure-img img-fluid"
       src="{{  include.filename | prepend:"/assets/pix/" | relative-url }}">
  {% if include.clickable != "false" %}
  </a>
  {% endif %}  
  <figcaption class="figure-caption {{ captionclass }}">
    {% if include.caption %}{{ include.caption }}<br/>{% endif %}
    {% if include.attribution %}
    image:
    <a target="figure" alt="{{ include.attribution }}" href="{{ include.link }}">{{ include.attribution }}</a> {% endif %}
  </figcaption>
</figure>
