<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <link href="{{'/rss_feed.xml' | relative_url }}" type="application/atom+xml" rel="alternate" title="Sitewide Atom feed" />
  {% include google_analytics.html %}
  <title>
    {% if page.title %}
      {{ page.title }} &middot; {{ site.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>

  {% include bootstrap.html %}

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}"/>

  <!-- Icons -->
  <link rel="shortcut icon" href="{{"/favicon.ico" | relative_url}}"/>

</head>
