---
layout: article
title: The label engine
created_date: 2021-11-12
released: false
---

What do brains do?

<div class="row">
  {% include figure.html
    clickable="true"
    filename="brainengine1.svg"
    figureclass="col"
    imgclass="col"
    link="brainengine1.svg" %}
  <div class="col"><p>An engine turns fuel into work.</p></div>
</div>

<div class="row">
  {% include figure.html
    clickable="true"
    filename="brainengine2.svg"
    figureclass="col"
    imgclass="col"
    link="brainengine2.svg" %}
  <div class="col"><p>Brains are engines which turn experiences into decisions.</p></div>
</div>

<div class="row">
  {% include figure.html
    clickable="true"
    filename="brainengine3.svg"
    figureclass="col"
    imgclass="col"
    link="brainengine3.svg" %}
  <div class="col">
    <p>The brain learns from its own experiences. 
      The brain can also learn from others who share their experiences.</p>
    <p>The brain's decisions produce one of two kinds of outputs.
      Muscles perform some sort of <b>action</b> based on a decision.
      Also, the brain can make and store <b>labels</b></p>
  </div>
</div>

<p>Labels summarize the decision.</p>

<div class="footnotes noborder" role="doc-endnotes">
  <ul class="list-unstyled">
    <li id="fn:1" role="doc-endnote">
      <p><em>Image credits</em>: <a href="https://www.flickr.com/photos/flamephoenix1991/8376271918">_DJ_</a>, <a href="https://www.hino-global.com/">Hino Motors</a>
</p> </li>
  </ul>
</div>
